Repository Team-TenTen/LinkHub-BE, pull requests merged in 2023-12, with the labels that each got.

#169 Refactor/swagger/space. - 스웨거 스페이스 관련 컨트롤러 리펙토링
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceController.java
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceInvitationController.java
Labels: Space

#171 Hotfix/get notifications - 알림 조회 API 수정
  src/main/java/com/tenten/linkhub/domain/notification/repository/querydsl/NotificationQueryDslRepository.java
Labels: Notification

#173 Fix/yyw - 1차 QA 이슈 처리
  src/main/java/com/tenten/linkhub/domain/space/repository/comment/CommentJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/comment/query/CommentQueryRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/LinkJdbcRepository.java
Labels: Space

#175 Feat/count unchecked notifications/yyw - 체크하지 않은 알림 개수 카운팅 API
  src/main/java/com/tenten/linkhub/domain/auth/config/SecurityConfig.java
  src/main/java/com/tenten/linkhub/domain/notification/controller/NotificationController.java
  src/main/java/com/tenten/linkhub/domain/notification/controller/dto/UncheckedNotificationsCountApiResponse.java
  src/main/java/com/tenten/linkhub/domain/notification/repository/DefaultNotificationRepository.java
  src/main/java/com/tenten/linkhub/domain/notification/repository/NotificationJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/notification/repository/NotificationRepository.java
  src/main/java/com/tenten/linkhub/domain/notification/service/NotificationService.java
  src/test/java/com/tenten/linkhub/domain/notification/service/NotificationServiceTest.java
  src/test/java/com/tenten/linkhub/domain/space/facade/CommentFacadeTest.java
Labels: Notification

#182 [Docs] : 주석 수정
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceInvitationController.java
Labels: Notification

#184 [Fix]: 특정 멤버 스페이스 검색 API의 반환값에 스페이스의 공개 여부 필드 추가.
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberSpacesFindApiResponse.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberSpacesFindApiResponses.java
Labels: Space

#191 [Fix]: 스페이스 디폴트 이미지 변경.
  src/main/java/com/tenten/linkhub/domain/space/service/SpaceImageUploader.java
Labels: Space

#192 [Fix]: 유저 정보 변경시 한줄 소개 빈값 허용
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberUpdateApiRequest.java
  src/test/java/com/tenten/linkhub/domain/member/service/MemberServiceTest.java
Labels: Member

#195 Hotfix/change redirect url - 링크 좋아요 API 수정
  build.gradle
  src/main/java/com/tenten/linkhub/domain/space/facade/LinkFacade.java
  src/main/java/com/tenten/linkhub/domain/space/handler/LinkEventHandler.java
  src/main/java/com/tenten/linkhub/domain/space/model/link/Link.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/DefaultLinkRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/LinkJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/LinkRepository.java
  src/test/java/com/tenten/linkhub/domain/space/service/LikeServiceTest.java
  src/test/resources/sql/clean_up.sql
Labels: Link

#201 [Fix]: 테스트 데이터 닉네임 중복 수정
  src/test/java/com/tenten/linkhub/domain/member/service/MemberServiceTest.java
Labels: Member
