Repository Team-TenTen/LinkHub-BE, pull requests merged in 2023-11, with the labels that each got.

#59 Feature/send email - 이메일 발송 API &이메일 인증 API 구현
  build.gradle
  src/main/java/com/tenten/linkhub/domain/member/controller/MemberController.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MailSendApiRequest.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MailVerificationApiRequest.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MailVerificationApiResponse.java
  src/main/java/com/tenten/linkhub/domain/member/controller/mapper/MemberApiMapper.java
  src/main/java/com/tenten/linkhub/domain/member/repository/MemberEmailRedisRepository.java
  src/main/java/com/tenten/linkhub/domain/member/service/MemberService.java
  src/main/java/com/tenten/linkhub/domain/member/service/MemberServiceImpl.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MailVerificationRequest.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MailVerificationResponse.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/Comment.java
  src/main/java/com/tenten/linkhub/global/config/AwsSesConfig.java
  src/main/java/com/tenten/linkhub/global/config/RedisConfig.java
  src/main/java/com/tenten/linkhub/global/infrastructure/ses/AwsSesService.java
  src/main/java/com/tenten/linkhub/global/util/email/EmailDto.java
  src/main/java/com/tenten/linkhub/global/util/email/VerificationCodeCreator.java
  src/main/resources/application.yml
  src/main/resources/templates/email.html
  src/test/java/com/tenten/linkhub/domain/member/service/MemberServiceTest.java
Labels: Member

#65 Feat/login 카카오로그인, JWT 발급 및 인증 구현
  build.gradle
  src/main/java/com/tenten/linkhub/domain/auth/JwtAuthenticationFilter.java
  src/main/java/com/tenten/linkhub/domain/auth/JwtProvider.java
  src/main/java/com/tenten/linkhub/domain/auth/MemberDetails.java
  src/main/java/com/tenten/linkhub/domain/auth/config/SecurityConfig.java
  src/main/java/com/tenten/linkhub/domain/auth/service/OAuth2UserService.java
  src/main/java/com/tenten/linkhub/domain/auth/service/dto/MemberFindOrCreateResponse.java
  src/main/java/com/tenten/linkhub/domain/member/model/Member.java
  src/main/java/com/tenten/linkhub/domain/member/model/ProfileImage.java
  src/main/java/com/tenten/linkhub/domain/member/model/Provider.java
  src/main/java/com/tenten/linkhub/domain/member/repository/DefaultMemberRepository.java
  src/main/java/com/tenten/linkhub/domain/member/repository/MemberJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/member/repository/MemberRepository.java
  src/main/java/com/tenten/linkhub/domain/member/service/MemberService.java
  src/main/java/com/tenten/linkhub/domain/member/service/MemberServiceImpl.java
  src/main/resources/application.yml
  src/test/java/com/tenten/linkhub/domain/space/facade/SpaceFacadeTest.java
Labels: Member

#66 Feat/login CORS 허용
  src/main/java/com/tenten/linkhub/domain/auth/config/SecurityConfig.java
  src/main/java/com/tenten/linkhub/domain/member/model/ProfileImage.java
  src/main/java/com/tenten/linkhub/domain/member/model/Provider.java
Labels: Member

#67 Feat/login CORS 허용 코드 및 Swagger HTTPS 요청 및 JWT 토큰 포함
  docker-compose.yml
  nginx.conf
  src/main/java/com/tenten/linkhub/domain/auth/config/SecurityConfig.java
  src/main/java/com/tenten/linkhub/global/config/SwaggerConfig.java
  src/main/resources/application.yml
Labels: Member

#70 Feat/delete space/yyw - 스페이스 삭제 API
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberInfos.java
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceController.java
  src/main/java/com/tenten/linkhub/domain/space/facade/SpaceFacade.java
  src/main/java/com/tenten/linkhub/domain/space/handler/SpaceEventHandler.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/SpaceImagesDeleteDto.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/Space.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/SpaceImage.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/SpaceMember.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/vo/SpaceImages.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/vo/SpaceMembers.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultSpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/SpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/DeletedSpaceImageNames.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/SpaceWithSpaceImageAndSpaceMemberInfo.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/SpacesFindByQueryResponses.java
  src/main/java/com/tenten/linkhub/global/aws/s3/DefaultS3Uploader.java
  src/main/java/com/tenten/linkhub/global/aws/s3/S3Uploader.java
  src/main/java/com/tenten/linkhub/global/config/SwaggerConfig.java
  src/main/java/com/tenten/linkhub/global/exception/GlobalApiExceptionHandler.java
  src/main/java/com/tenten/linkhub/global/exception/MaxImageCountExceededException.java
  src/test/java/com/tenten/linkhub/domain/space/facade/SpaceFacadeTest.java
Labels: Space

#75 Feat/login 회원가입 기능 구현
  src/main/java/com/tenten/linkhub/domain/auth/JwtProvider.java
  src/main/java/com/tenten/linkhub/domain/auth/MemberDetails.java
  src/main/java/com/tenten/linkhub/domain/auth/config/SecurityConfig.java
  src/main/java/com/tenten/linkhub/domain/auth/service/OAuth2UserService.java
  src/main/java/com/tenten/linkhub/domain/auth/service/dto/MemberFindOrCreateResponse.java
  src/main/java/com/tenten/linkhub/domain/member/controller/MemberController.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberJoinApiRequest.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberJoinApiResponse.java
  src/main/java/com/tenten/linkhub/domain/member/controller/mapper/MemberApiMapper.java
  src/main/java/com/tenten/linkhub/domain/member/model/FavoriteCategory.java
  src/main/java/com/tenten/linkhub/domain/member/model/Member.java
  src/main/java/com/tenten/linkhub/domain/member/model/ProfileImage.java
  src/main/java/com/tenten/linkhub/domain/member/model/Role.java
  src/main/java/com/tenten/linkhub/domain/member/model/vo/AboutMe.java
  src/main/java/com/tenten/linkhub/domain/member/model/vo/FavoriteCategories.java
  src/main/java/com/tenten/linkhub/domain/member/model/vo/NewsEmail.java
  src/main/java/com/tenten/linkhub/domain/member/model/vo/Nickname.java
  src/main/java/com/tenten/linkhub/domain/member/model/vo/ProfileImages.java
  src/main/java/com/tenten/linkhub/domain/member/service/MemberService.java
  src/main/java/com/tenten/linkhub/domain/member/service/MemberServiceImpl.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberAuthInfo.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberFindResponse.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberInfos.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberJoinRequest.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberJoinResponse.java
  src/main/java/com/tenten/linkhub/domain/space/facade/SpaceFacade.java
  src/main/java/com/tenten/linkhub/domain/space/handler/SpaceEventHandler.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/SpaceImagesDeleteDto.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/Space.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/SpaceImage.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/SpaceMember.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/vo/SpaceImages.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/vo/SpaceMembers.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultSpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/DeletedSpaceImageNames.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/SpaceWithSpaceImageAndSpaceMemberInfo.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/SpacesFindByQueryResponses.java
  src/main/java/com/tenten/linkhub/global/aws/s3/DefaultS3Uploader.java
  src/main/java/com/tenten/linkhub/global/aws/s3/S3Uploader.java
  src/main/java/com/tenten/linkhub/global/config/SwaggerConfig.java
  src/main/java/com/tenten/linkhub/global/exception/GlobalApiExceptionHandler.java
  src/main/java/com/tenten/linkhub/global/util/email/EmailDto.java
  src/test/java/com/tenten/linkhub/domain/member/service/MemberServiceTest.java
  src/test/java/com/tenten/linkhub/domain/space/facade/SpaceFacadeTest.java
Labels: Member

#76 Feat/login 카카오 로그인&로그아웃 및 프로필 조회
  build.gradle
  src/main/java/com/tenten/linkhub/domain/auth/JwtAuthenticationFilter.java
  src/main/java/com/tenten/linkhub/domain/auth/JwtProvider.java
  src/main/java/com/tenten/linkhub/domain/auth/MemberDetails.java
  src/main/java/com/tenten/linkhub/domain/auth/OAuth2SuccessHandler.java
  src/main/java/com/tenten/linkhub/domain/auth/config/SecurityConfig.java
  src/main/java/com/tenten/linkhub/domain/auth/controller/AuthController.java
  src/main/java/com/tenten/linkhub/domain/auth/controller/dto/LogoutApiResponse.java
  src/main/java/com/tenten/linkhub/domain/auth/service/AuthService.java
  src/main/java/com/tenten/linkhub/domain/auth/service/OAuth2UserService.java
  src/main/java/com/tenten/linkhub/domain/member/controller/MemberController.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberProfileApiResponse.java
  src/main/java/com/tenten/linkhub/domain/member/controller/mapper/MemberApiMapper.java
  src/main/java/com/tenten/linkhub/domain/member/model/Member.java
  src/main/java/com/tenten/linkhub/domain/member/model/ProfileImage.java
  src/main/java/com/tenten/linkhub/domain/member/model/vo/FavoriteCategories.java
  src/main/java/com/tenten/linkhub/domain/member/model/vo/ProfileImages.java
  src/main/java/com/tenten/linkhub/domain/member/repository/follow/DefaultFollowRepository.java
  src/main/java/com/tenten/linkhub/domain/member/repository/follow/FollowJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/member/repository/follow/FollowRepository.java
  src/main/java/com/tenten/linkhub/domain/member/repository/member/DefaultMemberRepository.java
  src/main/java/com/tenten/linkhub/domain/member/repository/member/MemberJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/member/repository/member/MemberRepository.java
  src/main/java/com/tenten/linkhub/domain/member/service/MemberService.java
  src/main/java/com/tenten/linkhub/domain/member/service/MemberServiceImpl.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberInfos.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberProfileResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceController.java
  src/main/java/com/tenten/linkhub/domain/space/facade/SpaceFacade.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/Space.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/SpaceImage.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/SpaceMember.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/dto/SpaceUpdateDto.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/vo/SpaceImages.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/vo/SpaceMembers.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultSpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/DeletedSpaceImageNames.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/SpaceCreateRequest.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/SpaceWithSpaceImageAndSpaceMemberInfo.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/SpacesFindByQueryResponses.java
  src/main/java/com/tenten/linkhub/global/response/ErrorCode.java
  src/main/resources/application.yml
  src/test/java/com/tenten/linkhub/domain/member/service/MemberServiceTest.java
  src/test/java/com/tenten/linkhub/domain/space/facade/SpaceFacadeTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultSpaceServiceTest.java
Labels: Member

#78 Feat/create comment/yyw - 루트 댓글 생성 API
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceController.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/comment/RootCommentCreateApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/comment/RootCommentCreateApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/mapper/CommentApiMapper.java
  src/main/java/com/tenten/linkhub/domain/space/facade/dto/SpaceDetailGetByIdFacadeResponse.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/Comment.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/Space.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/vo/SpaceImages.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/vo/SpaceMembers.java
  src/main/java/com/tenten/linkhub/domain/space/repository/comment/CommentJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/comment/CommentRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/comment/DefaultCommentRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/CommentService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/comment/RootCommentCreateRequest.java
  src/main/java/com/tenten/linkhub/domain/space/service/mapper/CommentMapper.java
  src/test/java/com/tenten/linkhub/domain/space/facade/SpaceFacadeTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/CommentServiceTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultSpaceServiceTest.java
Labels: Comment

#81 Refactor/space/yyw - 스페이스 도메인 리펙토링
  src/main/java/com/tenten/linkhub/domain/space/SpaceViewListResolver.java
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceController.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/comment/RootCommentCreateApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/controller/mapper/SpaceApiMapper.java
  src/main/java/com/tenten/linkhub/domain/space/facade/SpaceFacade.java
  src/main/java/com/tenten/linkhub/domain/space/facade/dto/SpaceDetailGetByIdFacadeRequest.java
  src/main/java/com/tenten/linkhub/domain/space/facade/dto/SpaceDetailGetByIdFacadeResponse.java
  src/main/java/com/tenten/linkhub/domain/space/handler/SpaceEventHandler.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/Space.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/vo/SpaceMembers.java
  src/main/java/com/tenten/linkhub/domain/space/repository/space/DefaultSpaceRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultSpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/SpaceImageUploader.java
  src/main/java/com/tenten/linkhub/domain/space/service/mapper/SpaceMapper.java
  src/main/java/com/tenten/linkhub/domain/space/util/SpaceViewList.java
  src/main/java/com/tenten/linkhub/global/config/WebConfig.java
  src/main/java/com/tenten/linkhub/global/exception/DataNotFoundException.java
  src/main/java/com/tenten/linkhub/global/exception/GlobalApiExceptionHandler.java
  src/test/java/com/tenten/linkhub/domain/space/facade/LinkFacadeTest.java
  src/test/java/com/tenten/linkhub/domain/space/facade/SpaceFacadeTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/CommentServiceTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultSpaceServiceTest.java
Labels: Space

#83 Feat/find root comments/yyw - 루트 댓글들 조회 API
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceController.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/comment/RootCommentCreateApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/comment/RootCommentFindApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/comment/RootCommentFindApiResponses.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/comment/RootCommentsFindApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/space/MySpacesFindApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/controller/mapper/CommentApiMapper.java
  src/main/java/com/tenten/linkhub/domain/space/controller/mapper/SpaceApiMapper.java
  src/main/java/com/tenten/linkhub/domain/space/facade/CommentFacade.java
  src/main/java/com/tenten/linkhub/domain/space/facade/dto/CommentAndChildCountAndMemberInfo.java
  src/main/java/com/tenten/linkhub/domain/space/facade/dto/CommentAndChildCountAndMemberInfoResponses.java
  src/main/java/com/tenten/linkhub/domain/space/repository/comment/CommentRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/comment/DefaultCommentRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/comment/dto/CommentAndChildCommentCount.java
  src/main/java/com/tenten/linkhub/domain/space/repository/comment/query/CommentQueryRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/CommentService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/comment/CommentAndChildCountDto.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/comment/CommentAndChildCountResponses.java
  src/test/java/com/tenten/linkhub/domain/space/facade/CommentFacadeTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/CommentServiceTest.java
Labels: Comment

#85 Feature/get space tags - 스페이스에서 사용된 태그 목록 조회 기능 구현
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceController.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/space/SpaceTagsGetApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/mapper/SpaceApiMapper.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/DefaultJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/TagJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/TagRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultSpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/SpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/SpaceTagsGetResponse.java
  src/main/java/com/tenten/linkhub/domain/space/service/mapper/SpaceMapper.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultLinkServiceTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultSpaceServiceTest.java
Labels: Space

#92 Hotfix/create link - 태그 Color 추가에 따른 '링크 생성' 및 '링크 수정' API 수정
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/link/LinkCreateApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/link/LinkUpdateApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/controller/mapper/LinkApiMapper.java
  src/main/java/com/tenten/linkhub/domain/space/facade/dto/LinkCreateFacadeRequest.java
  src/main/java/com/tenten/linkhub/domain/space/facade/dto/LinkUpdateFacadeRequest.java
  src/main/java/com/tenten/linkhub/domain/space/model/link/Color.java
  src/main/java/com/tenten/linkhub/domain/space/model/link/Tag.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultLinkService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/link/LinkCreateRequest.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/link/LinkUpdateRequest.java
  src/test/java/com/tenten/linkhub/domain/space/facade/LinkFacadeTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultLinkServiceTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultSpaceServiceTest.java
Labels: Link

#94 Feat/link 링크 좋아요 및 좋아요 취소 구현
  build.gradle
  src/main/java/com/tenten/linkhub/domain/space/controller/LinkController.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/like/LikeCreateApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/facade/LinkFacade.java
  src/main/java/com/tenten/linkhub/domain/space/handler/LinkEventHandler.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/LinkDecreaseLikeCountDto.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/LinkIncreaseLikeCountDto.java
  src/main/java/com/tenten/linkhub/domain/space/model/link/Like.java
  src/main/java/com/tenten/linkhub/domain/space/model/link/Link.java
  src/main/java/com/tenten/linkhub/domain/space/repository/like/DefaultLikeJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/like/LikeJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/like/LikeRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/DefaultLinkRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/LinkRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultLinkService.java
  src/main/java/com/tenten/linkhub/domain/space/service/LinkService.java
  src/test/java/com/tenten/linkhub/domain/space/facade/LinkFacadeTest.java
Labels: Link

#97 Feat/reply 댓글 삭제, 수정, 대댓글 생성, 대댓글 페이징 조회
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceController.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/comment/CommentUpdateApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/comment/CommentUpdateApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/comment/RepliesFindApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/comment/RepliesFindApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/comment/RepliesFindApiResponses.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/comment/ReplyCreateApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/comment/ReplyCreateApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/mapper/CommentApiMapper.java
  src/main/java/com/tenten/linkhub/domain/space/facade/CommentFacade.java
  src/main/java/com/tenten/linkhub/domain/space/facade/dto/RepliesAndMemberInfo.java
  src/main/java/com/tenten/linkhub/domain/space/facade/dto/RepliesAndMemberInfoResponses.java
  src/main/java/com/tenten/linkhub/domain/space/facade/dto/SpaceDetailGetByIdFacadeResponse.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/Comment.java
  src/main/java/com/tenten/linkhub/domain/space/repository/comment/CommentJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/comment/CommentRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/comment/DefaultCommentRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/CommentService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/comment/CommentUpdateRequest.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/comment/RepliesFindResponse.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/comment/RepliesFindResponses.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/comment/ReplyCreateRequest.java
  src/main/java/com/tenten/linkhub/domain/space/service/mapper/CommentMapper.java
  src/test/java/com/tenten/linkhub/domain/space/facade/CommentFacadeTest.java
  src/test/java/com/tenten/linkhub/domain/space/facade/LinkFacadeTest.java
  src/test/java/com/tenten/linkhub/domain/space/facade/SpaceFacadeTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/CommentServiceTest.java
Labels: Comment

#99 Hotfix/get space tags - 태그 목록 조회 API 수정
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceController.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/space/SpaceTagsGetApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/mapper/SpaceApiMapper.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/DefaultJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/TagJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/TagRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/dto/TagInfo.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/query/TagQueryRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultSpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/SpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/SpaceTagGetResponse.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/SpaceTagGetResponses.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/SpaceTagsGetResponse.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultSpaceServiceTest.java
Labels: Space

#106 Feature/save link view history - 링크 접속 정보 저장 API 구현
  src/main/java/com/tenten/linkhub/domain/space/controller/LinkController.java
  src/main/java/com/tenten/linkhub/domain/space/exception/LinkViewHistoryException.java
  src/main/java/com/tenten/linkhub/domain/space/facade/LinkFacade.java
  src/main/java/com/tenten/linkhub/domain/space/model/link/LinkViewHistory.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/Space.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/vo/SpaceMembers.java
  src/main/java/com/tenten/linkhub/domain/space/repository/linkview/DefaultLinkViewRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/linkview/LinkViewJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/linkview/LinkViewRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/linkview/query/LinkViewQueryRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultLinkService.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultSpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/LinkService.java
  src/main/java/com/tenten/linkhub/domain/space/service/SpaceService.java
  src/main/java/com/tenten/linkhub/global/config/AsyncConfig.java
  src/main/java/com/tenten/linkhub/global/exception/CustomAsyncExceptionHandler.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultLinkServiceTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultSpaceServiceTest.java
Labels: Link

#107 Fix/get space detail by id/all space paging query api - 스페이스 상세 조회 및 모든 스페이스 페이징 조회 API 응답값 수정
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceController.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/space/MySpacesFindApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/space/MySpacesFindApiResponses.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/space/PublicSpaceFindWithFilterApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/space/PublicSpaceFindWithFilterApiResponses.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/space/PublicSpacesFindByQueryApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/space/PublicSpacesFindByQueryApiResponses.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/Space.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/vo/SpaceMembers.java
  src/main/java/com/tenten/linkhub/domain/space/repository/space/DefaultSpaceRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/space/SpaceRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/space/dto/SpaceAndOwnerNickName.java
  src/main/java/com/tenten/linkhub/domain/space/repository/space/query/SpaceQueryRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultSpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/PublicSpacesFindByQueryResponses.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/SpaceWithSpaceImageAndSpaceMemberInfo.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/SpacesFindByQueryResponse.java
  src/main/java/com/tenten/linkhub/global/exception/GlobalApiExceptionHandler.java
  src/test/java/com/tenten/linkhub/domain/space/facade/SpaceFacadeTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultSpaceServiceTest.java
Labels: Space

#108 Fix/favorite/yyw. - 스페이스 즐겨찾기 관련 API 수정
  src/main/java/com/tenten/linkhub/LinkHubApplication.java
  src/main/java/com/tenten/linkhub/domain/space/facade/LinkFacade.java
  src/main/java/com/tenten/linkhub/domain/space/facade/SpaceFacade.java
  src/main/java/com/tenten/linkhub/domain/space/handler/LinkEventHandler.java
  src/main/java/com/tenten/linkhub/domain/space/handler/SpaceEventHandler.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/LinkDecreaseLikeCountDto.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/LinkDecreaseLikeCountEvent.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/LinkIncreaseLikeCountEvent.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/SpaceDecreaseFavoriteCountEvent.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/SpaceImagesDeleteEvent.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/SpaceIncreaseFavoriteCountEvent.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/SpaceIncreaseViewCountEvent.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/Favorite.java
  src/main/java/com/tenten/linkhub/domain/space/service/FavoriteService.java
  src/main/java/com/tenten/linkhub/domain/space/service/mapper/FavoriteMapper.java
  src/test/java/com/tenten/linkhub/domain/space/facade/SpaceFacadeTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/FavoriteServiceTest.java
Labels: Space

#110 Feature/delete link - 링크 삭제 API 구현 & Link Entity 수정
  src/main/java/com/tenten/linkhub/domain/space/controller/LinkController.java
  src/main/java/com/tenten/linkhub/domain/space/facade/LinkFacade.java
  src/main/java/com/tenten/linkhub/domain/space/model/link/Link.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/DefaultLinkRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/LinkRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/linkview/DefaultLinkViewRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/linkview/LinkViewJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/linkview/LinkViewRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultLinkService.java
  src/main/java/com/tenten/linkhub/domain/space/service/LinkService.java
  src/test/java/com/tenten/linkhub/domain/space/facade/LinkFacadeTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultLinkServiceTest.java
Labels: Link

#117 Hotfix/update space/yyw - 스페이스 수정 API 에러 해결.
  src/main/java/com/tenten/linkhub/domain/space/model/space/Space.java
  src/test/java/com/tenten/linkhub/domain/space/facade/LinkFacadeTest.java
  src/test/java/com/tenten/linkhub/domain/space/facade/SpaceFacadeTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultLinkServiceTest.java
Labels: Space

#121 Fix/member 프로필 조회 수정 권한 및 팔로잉 유무 리턴하도록 수정
  src/main/java/com/tenten/linkhub/domain/member/controller/MemberController.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberFollowCreateApiResponse.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberProfileApiResponse.java
  src/main/java/com/tenten/linkhub/domain/member/repository/follow/FollowJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/member/service/MemberServiceImpl.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberFollowCreateResponse.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberProfileResponse.java
  src/test/java/com/tenten/linkhub/domain/member/service/MemberServiceTest.java
Labels: Member

#122 Fix/comment 댓글 및 대댓글 페이징 조회시 수정 가능 여부 리턴
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceController.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/comment/RepliesFindApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/comment/RepliesFindApiResponses.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/comment/RootCommentFindApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/comment/RootCommentFindApiResponses.java
  src/main/java/com/tenten/linkhub/domain/space/facade/CommentFacade.java
  src/main/java/com/tenten/linkhub/domain/space/facade/dto/CommentAndChildCountAndMemberInfo.java
  src/main/java/com/tenten/linkhub/domain/space/facade/dto/CommentAndChildCountAndMemberInfoResponses.java
  src/main/java/com/tenten/linkhub/domain/space/facade/dto/RepliesAndMemberInfo.java
  src/main/java/com/tenten/linkhub/domain/space/facade/dto/RepliesAndMemberInfoResponses.java
  src/main/java/com/tenten/linkhub/domain/space/service/CommentService.java
  src/test/java/com/tenten/linkhub/domain/space/facade/CommentFacadeTest.java
Labels: Comment

#124 Hotfix/find spaces by query/yyw - 스페이스 검색 API들 데이터 중복 이슈 해결
  src/main/java/com/tenten/linkhub/LinkHubApplication.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/vo/SpaceImages.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/vo/SpaceMembers.java
  src/main/java/com/tenten/linkhub/domain/space/repository/common/dto/SpaceAndOwnerNickName.java
  src/main/java/com/tenten/linkhub/domain/space/repository/common/dto/SpaceAndSpaceImageOwnerNickName.java
  src/main/java/com/tenten/linkhub/domain/space/repository/common/dto/SpaceAndSpaceImageOwnerNickNames.java
  src/main/java/com/tenten/linkhub/domain/space/repository/favorite/DefaultFavoriteRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/favorite/FavoriteRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/favorite/query/FavoriteQueryRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/space/DefaultSpaceRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/space/SpaceRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/space/query/SpaceQueryRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultSpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/FavoriteService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/favorite/FavoriteSpacesFindResponses.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/PublicSpacesFindByQueryResponses.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultSpaceServiceTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/FavoriteServiceTest.java
Labels: Space

#123 Fix/Like 존재하지 않는 좋아요 취소 시 진행되는 문제 수정
  src/main/java/com/tenten/linkhub/domain/space/controller/LinkController.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultLinkService.java
  src/test/java/com/tenten/linkhub/domain/space/facade/LinkFacadeTest.java
Labels: Link

#127 [Fix]: 팔로우, 팔로워 카운트 반대로 올리는 경우 수정
  src/main/java/com/tenten/linkhub/domain/member/repository/follow/FollowJpaRepository.java
Labels: Member

#128 Fix/find my spaces/yyw - 나의 스페이스 검색 API 구현 수정.
  src/main/java/com/tenten/linkhub/domain/member/controller/MemberController.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberSpacesFindApiRequest.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberSpacesFindApiResponse.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberSpacesFindApiResponses.java
  src/main/java/com/tenten/linkhub/domain/member/controller/mapper/MemberApiMapper.java
  src/main/java/com/tenten/linkhub/domain/member/service/MemberServiceImpl.java
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceController.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/space/PublicSpaceFindWithFilterApiResponses.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/space/PublicSpacesFindByQueryApiResponses.java
  src/main/java/com/tenten/linkhub/domain/space/controller/mapper/SpaceApiMapper.java
  src/main/java/com/tenten/linkhub/domain/space/handler/SpaceEventHandler.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/Space.java
  src/main/java/com/tenten/linkhub/domain/space/repository/space/DefaultSpaceRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/space/SpaceRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/space/dto/MemberSpacesQueryCondition.java
  src/main/java/com/tenten/linkhub/domain/space/repository/space/query/DynamicQueryFactory.java
  src/main/java/com/tenten/linkhub/domain/space/repository/space/query/SpaceQueryRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultSpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/SpaceImageUploader.java
  src/main/java/com/tenten/linkhub/domain/space/service/SpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/MemberSpacesFindRequest.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/SpacesFindByQueryResponses.java
  src/main/java/com/tenten/linkhub/domain/space/service/mapper/SpaceMapper.java
  src/main/java/com/tenten/linkhub/global/aws/s3/DefaultS3Uploader.java
  src/main/java/com/tenten/linkhub/global/aws/s3/ImageFileUploader.java
  src/main/java/com/tenten/linkhub/global/aws/s3/S3Uploader.java
  src/test/java/com/tenten/linkhub/domain/member/service/MemberServiceTest.java
  src/test/java/com/tenten/linkhub/domain/space/facade/SpaceFacadeTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultSpaceServiceTest.java
Labels: Space

#130 [Fix]: 팔로잉, 팔로워 페이징 조회시 한줄 소개 내려주도록 수정
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberFollowersFindApiResponse.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberFollowersFindApiResponses.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberFollowingsFindApiResponse.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberFollowingsFindApiResponses.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberFollowersFindResponse.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberFollowersFindResponses.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberFollowingFindResponse.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberFollowingsFindResponses.java
  src/test/java/com/tenten/linkhub/domain/member/service/MemberServiceTest.java
Labels: Member

#131 [Feat]: 프로필 사진, 카테고리를 포함한 멤버 수정 기능 구현
  src/main/java/com/tenten/linkhub/domain/member/controller/MemberController.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberUpdateApiRequest.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberUpdateApiResponse.java
  src/main/java/com/tenten/linkhub/domain/member/controller/mapper/MemberApiMapper.java
  src/main/java/com/tenten/linkhub/domain/member/model/Member.java
  src/main/java/com/tenten/linkhub/domain/member/model/ProfileImage.java
  src/main/java/com/tenten/linkhub/domain/member/model/vo/FavoriteCategories.java
  src/main/java/com/tenten/linkhub/domain/member/model/vo/ProfileImages.java
  src/main/java/com/tenten/linkhub/domain/member/service/MemberService.java
  src/main/java/com/tenten/linkhub/domain/member/service/MemberServiceImpl.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberUpdateRequest.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberUpdateResponse.java
  src/test/java/com/tenten/linkhub/domain/member/service/MemberServiceTest.java
Labels: Member

#133 Feat/change space member role/yyw - 스페이스 멤버 권한 수정 API
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceController.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/spacemember/SpaceMemberRoleChangeApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/spacemember/SpaceMemberRoleChangeApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/mapper/SpaceApiMapper.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/Space.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/SpaceMember.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/vo/SpaceMembers.java
  src/main/java/com/tenten/linkhub/domain/space/repository/favorite/query/FavoriteQueryRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/space/query/SpaceQueryRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultSpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/SpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/spacemember/SpaceMemberRoleChangeRequest.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultSpaceServiceTest.java
Labels: Space

#134 LinkTag 중간 테이블 추가 / Link 관련 API 수정 / 링크 리스트 조회 API 구현
  src/main/java/com/tenten/linkhub/domain/space/controller/LinkController.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/link/LinkCreateApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/link/LinkUpdateApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/link/LinksGetWithFilterApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/link/LinksGetWithFilterApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/link/LinksGetWithFilterApiResponses.java
  src/main/java/com/tenten/linkhub/domain/space/controller/mapper/LinkApiMapper.java
  src/main/java/com/tenten/linkhub/domain/space/facade/LinkFacade.java
  src/main/java/com/tenten/linkhub/domain/space/facade/dto/LinkCreateFacadeRequest.java
  src/main/java/com/tenten/linkhub/domain/space/facade/dto/LinkUpdateFacadeRequest.java
  src/main/java/com/tenten/linkhub/domain/space/model/link/Color.java
  src/main/java/com/tenten/linkhub/domain/space/model/link/Link.java
  src/main/java/com/tenten/linkhub/domain/space/model/link/LinkTag.java
  src/main/java/com/tenten/linkhub/domain/space/model/link/Tag.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/DefaultLinkRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/LinkRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/dto/LinkGetDto.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/dto/LinkGetQueryCondition.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/dto/LinkViewDto.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/querydsl/LinkQueryDslRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/DefaultJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/TagJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/TagRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/dto/TagInfo.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/query/TagQueryRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultLinkService.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultSpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/LinkService.java
  src/main/java/com/tenten/linkhub/domain/space/service/SpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/link/LinkCreateRequest.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/link/LinkGetByQueryResponse.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/link/LinkGetByQueryResponses.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/link/LinkUpdateRequest.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/link/LinksGetByQueryRequest.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/SpaceTagGetResponse.java
  src/main/java/com/tenten/linkhub/domain/space/service/mapper/LinkMapper.java
  src/main/java/com/tenten/linkhub/global/config/QuerydslConfig.java
  src/test/java/com/tenten/linkhub/domain/space/facade/LinkFacadeTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultLinkServiceTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultSpaceServiceTest.java
Labels: Link

#137 Hotfix/send email - 이메일 발송 시 response 추가하도록 코드 수정
  src/main/java/com/tenten/linkhub/domain/member/controller/MemberController.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MailSendApiResponse.java
  src/main/java/com/tenten/linkhub/domain/member/controller/mapper/MemberApiMapper.java
  src/main/java/com/tenten/linkhub/domain/member/service/MemberService.java
  src/main/java/com/tenten/linkhub/domain/member/service/MemberServiceImpl.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MailSendResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/LinkController.java
Labels: Email

#138 fix: SpaceMembers 내 메소드 수정
  src/main/java/com/tenten/linkhub/domain/space/model/space/vo/SpaceMembers.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/querydsl/LinkQueryDslRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/DefaultJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/TagRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/query/TagQueryRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultLinkService.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultSpaceService.java
Labels: Link

#139 [Fix]: 루트댓글 페이징 조회 시 대댓글 카운트 방식 변경. - 루트 댓글 페이징 조회 시 대댓글 카운트 방식 변경
  src/main/java/com/tenten/linkhub/domain/space/repository/comment/query/CommentQueryRepository.java
  src/test/java/com/tenten/linkhub/domain/space/facade/CommentFacadeTest.java
Labels: Comment

#140 Hotfix/get links - 링크 조회 API에 조건 추가
  src/main/java/com/tenten/linkhub/domain/space/model/link/Link.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/querydsl/LinkQueryDslRepository.java
Labels: Link

#141 Feat/memberSearch 멤버 검색 기능 구현
  src/main/java/com/tenten/linkhub/domain/member/controller/MemberController.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberSearchApiRequest.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberSearchApiResponse.java
  src/main/java/com/tenten/linkhub/domain/member/controller/dto/MemberSearchApiResponses.java
  src/main/java/com/tenten/linkhub/domain/member/controller/mapper/MemberApiMapper.java
  src/main/java/com/tenten/linkhub/domain/member/model/Member.java
  src/main/java/com/tenten/linkhub/domain/member/model/ProfileImage.java
  src/main/java/com/tenten/linkhub/domain/member/model/vo/FavoriteCategories.java
  src/main/java/com/tenten/linkhub/domain/member/model/vo/ProfileImages.java
  src/main/java/com/tenten/linkhub/domain/member/repository/dto/MemberSearchQueryCondition.java
  src/main/java/com/tenten/linkhub/domain/member/repository/dto/MemberWithProfileImageAndFollowingStatus.java
  src/main/java/com/tenten/linkhub/domain/member/repository/follow/FollowJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/member/repository/member/DefaultMemberRepository.java
  src/main/java/com/tenten/linkhub/domain/member/repository/member/MemberJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/member/repository/member/MemberRepository.java
  src/main/java/com/tenten/linkhub/domain/member/repository/query/MemberQueryRepository.java
  src/main/java/com/tenten/linkhub/domain/member/service/MemberService.java
  src/main/java/com/tenten/linkhub/domain/member/service/MemberServiceImpl.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberSearchRequest.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberSearchResponse.java
  src/main/java/com/tenten/linkhub/domain/member/service/dto/MemberSearchResponses.java
  src/main/java/com/tenten/linkhub/domain/member/service/mapper/MemberMapper.java
  src/test/java/com/tenten/linkhub/domain/member/service/MemberServiceTest.java
  src/test/java/com/tenten/linkhub/domain/space/facade/CommentFacadeTest.java
  src/test/java/com/tenten/linkhub/domain/space/facade/SpaceFacadeTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultSpaceServiceTest.java
Labels: Member

#142 Feat/scrap and create new space/yyw. - 스페이스 가져오기 API (나의 새로운 스페이스로)
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceController.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/space/NewSpacesScrapApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/space/NewSpacesScrapApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/mapper/SpaceApiMapper.java
  src/main/java/com/tenten/linkhub/domain/space/facade/SpaceFacade.java
  src/main/java/com/tenten/linkhub/domain/space/facade/dto/NewSpacesScrapFacadeRequest.java
  src/main/java/com/tenten/linkhub/domain/space/facade/mapper/SpaceFacadeMapper.java
  src/main/java/com/tenten/linkhub/domain/space/handler/SpaceEventHandler.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/FavoriteDeleteEvent.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/FavoriteSaveEvent.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/ScrapSaveEvent.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/SpaceDecreaseFavoriteCountEvent.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/SpaceDetailFindEvent.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/SpaceImageDeleteEvent.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/SpaceIncreaseFavoriteCountEvent.java
  src/main/java/com/tenten/linkhub/domain/space/handler/dto/SpaceIncreaseViewCountEvent.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/Scrap.java
  src/main/java/com/tenten/linkhub/domain/space/repository/comment/query/CommentQueryRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/DefaultLinkRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/LinkJdbcRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/LinkJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/LinkRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/querydsl/LinkQueryDslRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/linktag/DefaultLinkTagRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/linktag/LinkTagJdbcRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/linktag/LinkTagJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/linktag/LinkTagRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/scrap/ScrapRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/space/DefaultSpaceRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/space/SpaceJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/space/SpaceRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/space/query/DynamicQueryFactory.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/DefaultJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/TagJdbcRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/TagJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/TagRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultLinkService.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultSpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/FavoriteService.java
  src/main/java/com/tenten/linkhub/domain/space/service/LinkService.java
  src/main/java/com/tenten/linkhub/domain/space/service/SpaceService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/NewSpacesScrapRequest.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/space/SpaceValidateAndCreateRequest.java
  src/main/java/com/tenten/linkhub/domain/space/service/mapper/LinkMapper.java
  src/main/java/com/tenten/linkhub/domain/space/service/mapper/SpaceMapper.java
  src/main/java/com/tenten/linkhub/global/exception/GlobalApiExceptionHandler.java
  src/test/java/com/tenten/linkhub/domain/space/facade/SpaceFacadeTest.java
Labels: Space

#144 [Feat]: 스페이스 초대 컨트롤러 구현
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceInvitationController.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/invitation/SpaceInvitationApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/invitation/SpaceInvitationApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/mapper/SpaceInvitationApiMapper.java
  src/main/java/com/tenten/linkhub/domain/space/facade/SpaceInvitationFacade.java
  src/main/java/com/tenten/linkhub/domain/space/facade/dto/SpaceInvitationFacadeRequest.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/Invitation.java
Labels: Space

#143 Feature/get popular links - 인기있는 링크 리스트 조회 API
  src/main/java/com/tenten/linkhub/domain/space/controller/LinkController.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/link/PopularLinksGetApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/link/PopularLinksGetApiResponses.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/DefaultLinkRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/LinkRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/dto/PopularLinkGetDto.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/querydsl/LinkQueryDslRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultLinkService.java
  src/main/java/com/tenten/linkhub/domain/space/service/LinkService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/link/PopularLinksGetByQueryResponse.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/link/PopularLinksGetByQueryResponses.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultLinkServiceTest.java
Labels: Link

#145 Hotfix/get tags - 태그 목록 조회 API 수정
  src/main/java/com/tenten/linkhub/domain/space/repository/link/querydsl/LinkQueryDslRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/DefaultTagRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/tag/query/TagQueryRepository.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultSpaceServiceTest.java
Labels: Space

#146 Feat/accept space invitation/yyw - 스페이스 초대 수락 API
  src/main/java/com/tenten/linkhub/domain/notification/model/Notification.java
  src/main/java/com/tenten/linkhub/domain/notification/repository/DefaultNotificationRepository.java
  src/main/java/com/tenten/linkhub/domain/notification/repository/NotificationJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/notification/repository/NotificationRepository.java
  src/main/java/com/tenten/linkhub/domain/notification/service/NotificationService.java
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceInvitationController.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/invitation/SpaceInvitationAcceptApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/invitation/SpaceInvitationAcceptApiResponse.java
  src/main/java/com/tenten/linkhub/domain/space/controller/mapper/SpaceInvitationApiMapper.java
  src/main/java/com/tenten/linkhub/domain/space/facade/SpaceInvitationFacade.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/Invitation.java
  src/main/java/com/tenten/linkhub/domain/space/repository/invitation/DefaultInvitationRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/invitation/InvitationJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/invitation/InvitationRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/SpaceInvitationService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/invitation/SpaceInvitationAcceptRequest.java
  src/test/java/com/tenten/linkhub/domain/space/facade/SpaceInvitationFacadeTest.java
Labels: Space

#147 Feat/invitation 초대 기능 구현
  src/main/java/com/tenten/linkhub/domain/notification/model/Notification.java
  src/main/java/com/tenten/linkhub/domain/notification/repository/DefaultNotificationRepository.java
  src/main/java/com/tenten/linkhub/domain/notification/repository/NotificationJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/notification/repository/NotificationRepository.java
  src/main/java/com/tenten/linkhub/domain/notification/service/NotificationService.java
  src/main/java/com/tenten/linkhub/domain/notification/service/dto/NotificationCreateRequest.java
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceInvitationController.java
  src/main/java/com/tenten/linkhub/domain/space/controller/dto/invitation/SpaceInvitationApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/facade/SpaceInvitationFacade.java
  src/main/java/com/tenten/linkhub/domain/space/facade/mapper/SpaceInvitationFacadeMapper.java
  src/main/java/com/tenten/linkhub/domain/space/model/space/Invitation.java
  src/main/java/com/tenten/linkhub/domain/space/repository/invitation/DefaultInvitationRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/invitation/InvitationRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/SpaceInvitationService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/invitation/SpaceInvitationRequest.java
  src/test/java/com/tenten/linkhub/domain/space/facade/SpaceInvitationFacadeTest.java
Labels: Space, Notification

#150 Feature/get notifications - 알림 조회 기능 구현
  src/main/java/com/tenten/linkhub/domain/auth/config/SecurityConfig.java
  src/main/java/com/tenten/linkhub/domain/notification/controller/NotificationController.java
  src/main/java/com/tenten/linkhub/domain/notification/controller/dto/SpaceInviteNotificationGetApiRequest.java
  src/main/java/com/tenten/linkhub/domain/notification/controller/dto/SpaceInviteNotificationGetApiResponse.java
  src/main/java/com/tenten/linkhub/domain/notification/controller/dto/SpaceInviteNotificationGetApiResponses.java
  src/main/java/com/tenten/linkhub/domain/notification/controller/mapper/NotificationApiMapper.java
  src/main/java/com/tenten/linkhub/domain/notification/repository/DefaultNotificationRepository.java
  src/main/java/com/tenten/linkhub/domain/notification/repository/NotificationRepository.java
  src/main/java/com/tenten/linkhub/domain/notification/repository/dto/NotificationGetQueryCondition.java
  src/main/java/com/tenten/linkhub/domain/notification/repository/dto/SpaceInvitationNotificationGetDto.java
  src/main/java/com/tenten/linkhub/domain/notification/repository/querydsl/NotificationQueryDslRepository.java
  src/main/java/com/tenten/linkhub/domain/notification/service/NotificationService.java
  src/main/java/com/tenten/linkhub/domain/notification/service/dto/SpaceInviteNotificationGetRequest.java
  src/main/java/com/tenten/linkhub/domain/notification/service/dto/SpaceInviteNotificationGetResponse.java
  src/main/java/com/tenten/linkhub/domain/notification/service/dto/SpaceInviteNotificationGetResponses.java
  src/main/java/com/tenten/linkhub/domain/notification/service/mapper/NotificationMapper.java
  src/main/java/com/tenten/linkhub/domain/space/controller/SpaceInvitationController.java
  src/test/java/com/tenten/linkhub/domain/notification/service/NotificationServiceTest.java
Labels: Notification

#152 Hotfix/get links,tags - 링크 조회 및 스웨거 코드 수정
  src/main/java/com/tenten/linkhub/domain/notification/controller/dto/SpaceInviteNotificationGetApiRequest.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/LinkRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/dto/PopularLinkGetDto.java
  src/main/java/com/tenten/linkhub/domain/space/repository/link/querydsl/LinkQueryDslRepository.java
  src/main/java/com/tenten/linkhub/domain/space/service/DefaultLinkService.java
  src/main/java/com/tenten/linkhub/domain/space/service/dto/link/PopularLinksGetByQueryResponses.java
Labels: Link

#168 Feature/delete notification - 알림 삭제 기능 구현
  src/main/java/com/tenten/linkhub/domain/notification/controller/NotificationController.java
  src/main/java/com/tenten/linkhub/domain/notification/repository/DefaultNotificationRepository.java
  src/main/java/com/tenten/linkhub/domain/notification/repository/NotificationJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/notification/repository/NotificationRepository.java
  src/main/java/com/tenten/linkhub/domain/notification/service/NotificationService.java
  src/main/java/com/tenten/linkhub/domain/space/repository/invitation/DefaultInvitationRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/invitation/InvitationJpaRepository.java
  src/main/java/com/tenten/linkhub/domain/space/repository/invitation/InvitationRepository.java
  src/test/java/com/tenten/linkhub/domain/notification/service/NotificationServiceTest.java
  src/test/java/com/tenten/linkhub/domain/space/service/DefaultLinkServiceTest.java
Labels: Link
